<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Result-not-available</title>

  </head>
  <body>
    <div class="jumbotron">
  <h1 class="display-4">Result unavailable!!</h1>
  <hr class="my-4">
  <p>Please stop election before viewing results!!</p>
  <form class="lead" action="/" method="get">
      <button class="btn btn-primary" type="submit">Go to login</button>
  </form>
</div>
  </body>
</html>
